<div class="catalogo-container">
    <h2>Catalogo de <span>Vehículos</span></h2>
    <div class="card-categorias">
    
    <div class="card">
        <div class="img">
            <img src="assets/carrocategoria.png" alt="Vehiculo">
        </div>
        <div class="card-body">
            <h5 class="card-title">Vehículo</h5>
            <p class="card-text">Autos y camionetas</p>
        </div>
    </div>

    <div class="card">
        <div class="img">
            <img src="assets/moto.png" alt="Moto">
        </div>
        <div class="card-body">
            <h5 class="card-title">Motos</h5>
            <p class="card-text">Todas las marcas</p>
        </div>
    </div>

</div>
</div>