<div class="containerhero">
    <div class="hero-text">
        <div class="encabezado">
            <h3 class="llamativo">⭐ Tu Concesionario de confianza</h3>
            <h1 class="title">Encuentra el vehículo de tus sueños</h1>
            <p class="subtitle">Tu destino para encontrar los mejores vehículos</p>
        </div>
    </div>

    <div class="hero-image">
        <div class="logo">
            <img src="assets/carro.gif" alt="Carro animado" class="img-logo">
        </div>
    </div>

</div>
<div class="redondo"></div>